html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.image-holder-outer {
  max-width: 99%;
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.image-holder-inner {
  float: left;
  width: 100%;
  height: auto;
  /*margin-top: 5px;*/
  margin-bottom: 5px;
}

@media screen and (min-width: 630px) {
  figure {
    float: left;
    width: 33.3333%;
    margin: 0;
  }
}
/*.image-holder-inner a {

}*/

img {
  width: auto;
  max-width: 100%;
  height: auto;
  margin: 1px;
  padding: 1px;
}